# Library imports

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import pandas as pd

from utility import cubic_spline_interpolation
from utility import evaluate_spline

# Q8

In [9]:
aapl = yf.download('AAPL', start='2020-09-01', end='2020-09-19', actions=False)  
aapl.describe()

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
count,13.000000,13.000000,13.000000,13.000000,13.000000,1.300000e+01
mean,114.381690,117.173844,121.001538,114.816154,119.374616,2.044848e+08
std,7.788333,7.978458,8.285664,7.089132,8.365989,5.707355e+07
min,104.294090,106.839996,110.879997,106.089996,109.720001,1.401501e+08
25%,109.458031,112.129997,115.930000,110.889999,114.570000,1.769405e+08
50%,112.611076,115.360001,118.989998,112.680000,117.260002,1.822744e+08
75%,117.999535,120.879997,123.699997,115.260002,120.360001,2.313666e+08
max,130.982590,134.179993,137.979996,130.529999,137.589996,3.326072e+08

# Q2